#contact {
    position: relative;
    padding: 40px 0;
}

#contact h3 {
    font-size: 45px;
    color: #666;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 25px;
}
#contact .g-map {
    background: #ffffff;
}
@media (max-width: 767.98px) {
    #contact .g-map {
        margin-bottom: 25px;
    }
}


#contact .form {
    color: #666666;
    font-weight: 400;
    text-align: left;
}


#contact .form .form-row {
    display: flex;
    justify-content: space-between;
    /* background-color: #222222; */
}

#contact .form .form-row  div {
    width: 49%;
}


#contact .form #sendmessage {
    color: #D2691E;
    border: 1px solid #D2691E;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 700;
    margin-bottom: 15px;
}

#contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 700;
    margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
    display: block;
}

#contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}



#contact .form input,
#contact .form textarea {
    padding: 10px 14px;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    margin-bottom: 15px;
}

#contact .form input:focus,
#contact .form textarea:focus {
    border-color: #D2691E;
}

#contact .form button[type="submit"] {
    border: none;
    background: #D2691E;
    padding: 9px 30px;
    color: #ffffff;
    transition: 0.4s;
    cursor: pointer;
}

#contact .form button[type="submit"]:hover {
    background: #222222;
    color: #D2691E;
}
