.jumbotron-section {
    height: 60vh;
    background-image: url('../../../img/jumbotronBackground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.jumbotron-section .jumbotron-content {
    z-index: 66;
    position: relative;
    color: white;
    width: 70%;
}

.jumbotron-section .jumbotron-content h1 {
    font-size: 4rem;
    margin: 0;
    margin-bottom: 30px;
}
.jumbotron-section .jumbotron-content span {
    font-size: 6rem;
    font-weight: bolder;
    color: rgb(252, 138, 7);
    text-decoration: underline;
    margin: 0;
    line-height: 0;
    
}
.jumbotron-section .jumbotron-content p {
    font-size: 1.1rem;
    font-family: Helvetica, sans-serif;
    line-height: 25px;
}

.jumbotron-section .jumbotron-content button {
    padding: 5px 45px;
    background-color: rgb(252, 138, 7);
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}

.jumbotron-section .jumbotron-content button:hover {
    background-color: rgb(194, 106, 6);
}

.jumbotron-section .overlay {
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

@media (max-width: 768px) {

    .jumbotron-section {
        height: 60vh;
       
    }

    .jumbotron-section .jumbotron-content {
        width: 90%;
    }
    .jumbotron-section .jumbotron-content h1 {
        font-size: 3.5rem;
        margin-bottom: 30px;
        line-height: 55px;
    }

    .jumbotron-section .jumbotron-content span {
        font-size: 4.2rem;
        font-weight: bolder;
        color: rgb(252, 138, 7)
        
    }
    
}

/* iPhone 8 and below (including iPhone SE) */
@media (max-width: 375px) {
    .jumbotron-section {
        height: 100vh;
        padding-top: 0;
        margin: 0;
    }

    .jumbotron-section .jumbotron-content h1 {
       font-size: 2.5rem;
    }

    .jumbotron-section .jumbotron-content span {
        font-size: 3rem;
        
    }
  }
  