/* CSS for CreateEventDashboard component */

.create-event-dashboard {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding-top: 60px;
  background-color: #f4f4f4;
}
 

.sidebar {
  position: fixed;
  top: 0;
  left: 0;   
  width: 23%;
  background-color: #333;
  color: #fff;
  padding: 80px 20px 20px 20px;
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  height: 100%; /* Set the sidebar height to 100% to cover the entire viewport */
  overflow-y: auto; /* Add vertical scroll if content exceeds sidebar height */
}

.sidebar-item {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.sidebar-item:hover {
  background-color: #555;
}

.main-content {
  margin-left: 23%;
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: auto; /* Add vertical scroll if content exceeds main content height */
}

.main-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Add your specific styles for form elements and content here */

/* Example style for form input */
.main-content input {
  /* width: 100%; */
  padding: 10px;
  margin-bottom: 15px;
}

/* Example style for buttons */
.main-content button {
  padding: 10px 20px;
  background-color: rgb(252, 138, 7);
  color: black;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

/* Example style for buttons on hover */
.main-content button:hover {
  background-color: #0056b3;
}

/* Add more styles as needed for your specific design */
