.ticket_main_container {
    margin-top: 10px;
    /* background-color: #be2020; */
    position: relative;
    
}
.ticket_main_container .big_main {
    /* background-color: yellow; */
    width: 80%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.ticket_main_container .big_main .main {
    width: 47%;
}

.ticket_main_container .main button {
padding: 10px 25px;
background-color: #f8f8f8;
}
.ticket_main_container .main .add_ticket {
background-color: #e43c09;
color: white;
}

.ticket_main_container .main  .ticket_section {
display: flex;
justify-content: space-around;
}

.ticket_popup {
width: 38%;
height: 83vh;
/* background-color: #863b04; */
position: absolute;
top: 0;
right: 0;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
padding: 10px;
}
.ticket_popup .ticket-header{
    display: flex;
    justify-content: space-between;
}
.ticket_popup .header h3, .ticket_popup .ticket-header p {
margin: 0;
padding: 0;
}

.ticket_popup .add_ticket_container .ticket_type {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ticket_popup .add_ticket_container .ticket_type button {
padding: 10px 40px;
background-color: #f8f8f8;
}
.ticket_popup .add_ticket_container .ticket_type .btnpaid {
    background-color: rgb(140, 208, 251);
}

.ticket_popup .add_ticket_container textarea {
    margin-top: 25px;
    margin-bottom: 0;
    width: 91%;
    box-shadow: rgba(45, 45, 45, 0.35) 0px 2px 2px;
}

.event_date_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.ticket_popup .add_ticket_container .event_date_container textarea {
    width: 38%;
}
.ticket_popup .add_ticket_container .ticket_types {
    height: 78vh;
    width: 100%;
}
.ticket_popup .add_ticket_container .paid, 
.ticket_popup .add_ticket_container .free_ticket,
.ticket_popup .add_ticket_container .donation_ticket {
    /* background-color: yellow; */
    height: 82%;
    overflow-y: scroll;
}

.ticket_popup .add_ticket_container .ticket_types .save_cancle {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ticket_popup .add_ticket_container .ticket_types .save_cancle button {
background-color: #e43c09;
margin: 10px;
width: 35%;
color: white;
font-size: 0.9rem;
padding: 10px;
}
.ticket_popup .add_ticket_container .ticket_types .save_cancle .btncancle {
    background-color: white;
    color: rgb(41, 40, 40);
}

.gmt {
    padding: 0;
    margin-bottom: 5px;
    margin-top: 20px;
}
.btnPaidScrol {
    cursor: pointer;
    padding-left: 5px;
}

.advance_setting p {
    margin: 10px 0;
}
.displaySales {
    display: flex;
    width: 95%;
    align-items: center;
}
.displaySales label {
    margin-left: 5px;
}

#popTickDesc {
    padding: 15px 10px;
}
.advance_setting select {
    width: 96%;
    padding: 10px;
}
.visibility {
    margin-top: 15px;
}
.ticket_per_order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 3px;
    margin: 0;
}
.advance_setting #perOrderTic {
    margin-bottom: 2px;
    padding: 0;
}
.ticket_popup .add_ticket_container .ticket_per_order textarea  {
    width: 40%;
}
.eTicket {
    margin-top: 10px;
    margin-bottom: 5px;
}
/* .ticket_main_container {
    display: none;
} */

/* .event_creat_hidden {
    display: none;
} */

.hiden_popup_page {
    display: none;
}
.ticket_popup .add_ticket_container .ticket_type .button_active {
    background-color: rgb(140, 208, 251);
    color:  black;
}
.ticket_popup .add_ticket_container .ticket_type .button_unactive {
    background-color: #f8f8f8;
    color: #000;
}

#donation_price {
    background-color: #efefef;
    color: #000000;
    margin-bottom: 13px;
}
